p {
    /*text-align:center;*/

    font-size:36px;
    font-family: "黑体";
    color:rgb(152,110,59);
    -webkit-text-stroke: 1px white;
}
ans {
    /*text-align:center;*/
    margin-left:5px;
    font-size:36px;
    font-family: "黑体";
    color:rgb(152,110,59);
    -webkit-text-stroke: 1px white;
}
#cho {
    /*text-align:center;*/
    display: inline-block;
    font-size:35px;
    font-family: "黑体";
    color:rgb(152,110,59);
    -webkit-text-stroke: 1px white;
}
#con {
    display: inline-block;
    padding: 1%;
    
    width:40px;
    height: auto;

    margin-top: 3%;
    margin-left:125px;
    border-radius: 10px;
    box-shadow: 0 10px 50px 0px rgb(24,22,28);
    backdrop-filter: blur(10px);
}
#xsans {
    display: inline-block;
    cursor:pointer;
    
    font-size:35px;
    font-family: "黑体";
    color:rgb(152,110,59);
    -webkit-text-stroke: 1px white;

    height: 40px;

    margin-top: 3%;
    margin-left:125px;
    border-radius: 8px;
    box-shadow: 0 5px 25px 0px rgb(24,22,28);
    backdrop-filter: blur(1px);
}